.App {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.App-expiry {  
  width: 50%;  
  display: flex;
  justify-content: space-between;
}

.App-input--expiry {
  width: 45%;
}
